* {
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/* nav style */
header{
    padding: 50px 120px;
}
nav{
    display: flex;
    justify-content:space-between ;
    margin-bottom: 120px;
    /* margin: 50px 120px 0 120px; */
}

.nav-title{
    color: #3A3A3A;
    font-size: 1.5rem;
    font-family: 700;
}

nav> ul{
    display: flex;
    list-style: none;
    gap: 30px;
    align-items: center;
}

nav ul a{
    text-decoration: none;
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
}

/* banner style */


.banner-container{
    display: flex;
    gap: 130px;
    align-items: center;
    justify-content: space-between;

}

.banner-title{
    color: #3A3A3A;
    font-size: 3.25rem;
    font-weight: 700;
    /* width: 575px; */
}

.banner-description{
    color:#3A3A3A;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: 16px;
}

.btn-primary{
    color: #FFF;
    font-size: 1rem;
    font-family: 700;
    padding: 10px 20px;
    border: none;
    border-radius: 41px;
    background: #E02C6D;
    cursor: pointer;
}
.banner-img-container img{
    width: 424px;
    height: 414px;
    background-image: url('../images/Circle\ design.svg');
    position: relative;
    background-position-y: -20px ;
    background-position-x: -20px;

}

/* main */
main{
    max-width: 1440px;
}

/* sponsor style */

.sponsor-img-container{
    display: flex;
    justify-content: space-evenly;
    gap: 60px;
    margin: 100px 165px;
}

/* popular collection style */

.popular-collection{
    margin: 100px 169px;
}

.popular-title{
    text-align: center;
    color: #3A3A3A;
    font-size: 1.75rem;
    font-weight: 600;
    margin-top: 100px;
    margin-bottom: 30px;
}

.popular-collection-container{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 30px;
}

.Product-container{
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 17px 14px;
}

.product-title{
    color: #18191F;
    font-size: 1.7rem;
    font-weight: 500;
}

.product-price{
    color:  rgba(0, 0, 0, 0.87);
    font-size: 1.25rem;
    font-family: 400;
}

.product-description{
    color: #787885;
    font-size: .75rem;
    font-family: 700;
}

/* responsive section */
/* small device */

@media screen and (max-width:576px) {
    nav,.banner-container{
        flex-direction: column-reverse;
        
    }
    .banner-img-container img{
        width: 100%;
        height: 100%;
    }
    header{
        padding: 20px 40px;
    }
    .sponsor-img-container{
        flex-wrap: wrap;
        gap: 10px;
        margin: 40px 40px;
        flex-wrap: wrap;
    }
}